<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProjectView</display-name>
    <servlet-name>ProjectView</servlet-name>
    <servlet-class>IT6020003.view.ProjectView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectView</servlet-name>
    <url-pattern>/ProjectView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeView</display-name>
    <servlet-name>HomeView</servlet-name>
    <servlet-class>IT6020003.view.HomeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeView</servlet-name>
    <url-pattern>/HomeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginView</display-name>
    <servlet-name>LoginView</servlet-name>
    <servlet-class>IT6020003.view.LoginView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginView</servlet-name>
    <url-pattern>/LoginView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoSocket</display-name>
    <servlet-name>DemoSocket</servlet-name>
    <servlet-class>IT6020003.view.DemoSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSocket</servlet-name>
    <url-pattern>/DemoSocket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkspaceView</display-name>
    <servlet-name>WorkspaceView</servlet-name>
    <servlet-class>IT6020003.view.WorkspaceView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkspaceView</servlet-name>
    <url-pattern>/WorkspaceView</url-pattern>
  </servlet-mapping>
</web-app>